doctype html
html
   head
      title="Hello Pug"
   body
    include ./header.pug

    h1 Mi super página web
    p.greetings#people Hello World!
    ul
        li Patatas
        li Pescado
        li Naranjas

    include ./footer.pug